*.o
*.d
*.gcda
*.gcno
*.gcov
*.reflect.c
*.reflect.cpp
*.reflect.c.*
*.reflect.cpp.*
*.a
*.so
*.test.c
*.dummy.c
*.test.cpp
*.dummy.cpp
*_test
*_checkmk
*_checkmk.*
_meta_*
metac
!include/metac
coverage_*.css
coverage_*.html
*.dSYM
*.exe
.DS_Store
doc/html
doc/latex
